@media screen and (max-width: 1100px) {
  #row-1 div {
    height: auto;
  }
  #smartAML {
    font-size: 45px;
  }
  #smartAML strong {
    font-size: 45px;
  }

  @media screen and (max-width: 1000px) {
    #sec7-left a {
      margin: 0 auto;
    }
    #sec7-left .legacy {
      width: 80%;
      margin: 0 auto;
    }
    #section-7 {
      background-size: 550%;
    }
    .complaince-image {
      margin-top: 20px;
    }
    #sec7-left h2 {
      font-family: Syne;
      font-size: 32px;
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
    #sec7-left {
      padding: 3rem;
    }
    #sec7-left span {
      font-family: Montserrat;
      font-size: 13px;
      width: 80%;
      text-align: center;
      margin: 0 auto;
    }
    #nav-link-col ul li {
      font-size: 10.4px;
    }
    #nav-link-col ul li a i {
      font-size: 10px;
    }
    .btn-nav {
      font-size: 8px;
      line-height: 12px;
      padding: 6px 7px;
    }
    #search img {
      width: 15px;
    }
  }
}
@media screen and (max-width: 870px) {
  .section-1_left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 2;
  }

  .section-1_left span {
    font-size: 8px;
    width: fit-content;
  }
  #smartAML {
    font-size: 33px;
    line-height: normal;

    margin-bottom: 0;
  }
  #row-1 div {
    margin-bottom: 30px;
  }
  #smartAML strong {
    font-size: 33px;
    font-weight: 400;
    text-align: center;
  }
  .section-1_left p {
    font-size: 13px;
    width: 70%;
    margin: 0;
  }
  .section-1_left ul {
    display: flex;
    justify-content: center;
    width: 70%;

    font-size: 13px;
  }
  .section-3_container {
    width: 85%;
  }
  .section-1_left button {
    letter-spacing: 0;
    margin: 6px 0 0 0;
    padding: 6px 12px;
  }
  .section-1_left button a {
    font-size: 13px;
  }
  .section-3_row1 h1 {
    font-size: 32px;
  }
  #right-content_tm {
    order: 1;
  }
  #section-1_right img {
    width: 70%;
    order: 1;
  }
  #left-content_tm {
    order: 2;
    margin: 20px 0 0 0;
  }
  #left-content_tm strong {
    font-size: 23px;
  }
  #left-content_tm strong::before {
    height: 20.799px;
  }
  #left-content_tm h3 {
    font-size: 32px;
    width: min-content;
  }
  #left-content_tm p,
  #left-content_tm a,
  #left-content_tm ul li,
  .section-6_text-top p {
    font-size: 14px;
  }
  #section4 .row {
    grid-template-columns: repeat(2, 1fr);
    gap: 23px;
  }
  #slider-left {
    order: 2;
  }
  #slider-right {
    order: 1;
  }
  .content p,
  .calc_right button {
    font-size: 14px;
    line-height: normal;
  }
  .savings_div {
    height: auto;
  }
  .box_1 p,
  .saving p,
  .section-11_content span {
    font-size: 12px;
  }
  #currentCost,
  #annualSaving,
  .saving strong {
    font-size: 17px;
  }
  .calc_right h2 {
    font-size: 18px;
  }
  #currentCost::before,
  #annualSaving::before {
    left: 17px;
    font-size: 13px;
  }
  .tm_st strong {
    font-size: 20px !important;
    line-height: normal !important;
  }
  .tm_st strong span {
    font-size: 14px;
    line-height: normal;
  }
  .points {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #cvr,
  .section-11_content p {
    font-size: 14px;
  }
  .section-11_content p {
    margin-bottom: 2px;
  }
  .btn-arr {
    margin-top: 10px;
    font-size: 12px;
  }
  .points-content li {
    padding-left: 1px;
    font-size: 12px;
    line-height: normal;
  }

  #line-h {
    line-height: 13px;
  }
  #cnt_btn {
    font-size: 11px;
  }
  #cnt_btn img {
    width: 10px;
    margin-left: -6px;
  }
  .content-section {
    height: 130vh;
  }
  .last-pnts_4 li h1 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .section-6_text-top h2,
  .section-11_content h3,
  .section-11_content h3 strong {
    font-size: 32px;
  }
  .section-6_calc .calc_left {
    padding: 0rem 2rem 1rem 2rem;
    height: auto;
    text-align: center;
  }
  .section-6_calc .calc_left h3 {
    width: 100%;
  }
  .custom-slider {
    left: 0;
  }
  .section-6_calc .calc_left p {
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin: 10px auto;
  }
  #section-6 {
    padding: 0 0 5rem 0;
    margin-bottom: 0;
  }
  #section-7 {
    background-size: 500%;
  }
  #sec7-left {
    padding: 0 8.95%;
  }
  #sec7-left h2 {
    font-size: 27px;
    text-align: center;
    width: 100%;
  }
  #sec7-left .legacy {
    width: 100%;
    margin: 0 auto;
  }
  .complaince-image {
    margin-top: 30px;
    border-radius: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sec7-left span {
    text-align: center;
  }
  .complaince-image img {
    max-width: 20rem;
    text-align: center;
    margin: 0;
  }
  .content-5_t {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-5_t h2 {
    text-align: center;
    width: 80%;
    font-size: 32px;
  }
  .content-5_t p {
    text-align: center;
    font-size: 14px !important;
  }
  #sec7-left a {
    margin: 0 auto;
  }
  .complaince-image2 {
    min-height: 14rem;
    display: flex;
    justify-content: center;
  }
  .complaince-text {
    min-height: auto;
  }
  .complaince-text.complaince-text2 {
    min-height: auto !important;
  }
  .row-last {
    min-height: auto;
    flex-direction: column;
  }
  .last-image {
    order: 1;
  }
  #last-txt {
    width: 100%;
    order: 2;
    margin-top: 20px;
  }
  #last-txt img {
    margin-bottom: 0;
    width: 15px;
  }
  .logos-in {
    width: 100%;
    justify-content: center;
    margin: 10px 0 0 0;
  }
  #onum_7213x-1 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .complaince-text.media_comp {
    order: 1;
  }
  .img-s {
    order: 2;
  }
  .content-2_10 {
    flex-direction: column;
    margin-top: 20px;
  }
  .content_2-txt {
    width: 98%;
    margin: 0 auto;
  }
  .slider-foot {
    margin: 0 0 0 0;
  }
  .slider-foot .slider-content {
    margin: 0;
    background-size: cover;
    padding: 50px 0px;
  }
  #sec10-h3 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  #slider-left p {
    font-size: 13px;
    line-height: 17px;
  }
  #slider-left a {
    font-size: 13px;
    line-height: 15px;
  }
  .section-11_content {
    max-width: 85%;
  }
  #section4 .count,
  .count::after,
  #lastCount::after {
    font-size: 27px;
  }
  #section4 .box {
    row-gap: 12px;
  }
  #section4 strong {
    font-size: 18px;
  }
  #section4 p {
    font-size: 14px;
  }
}
@media screen and (max-width: 785px) {
  .footer-content .row .col-12 {
    padding: 1rem 0 20px 10px;
  }
  .footer-logo {
    row-gap: 1px;
  }
  #logo-col {
    width: 200px;
  }
  .btn-menu {
    display: inherit;
    width: fit-content;
  }
  .btn-menu img {
    width: 80%;
  }
  #btns-nav {
    display: none !important ;
  }
  body {
    position: relative;
  }
  body #nav-link-col {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    min-height: 0px;
    transition: 0.4s all ease-in-out;

    top: 54px;
    left: 0;
  }

  #nav-link-col ul li a {
    color: #0a2540 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #nav-link-col ul {
    flex-direction: column;
    align-items: start;
  }
  #nav-link-col.color-change ul li a {
    align-items: center;
    justify-content: space-between;
  }
  #row-nav .col:nth-child(2) {
    align-items: start;
  }
  #nav-link-col ul li {
    height: 64px !important;
    padding: 0px 10px;
    width: 100%;
    border-bottom: 1px solid rgb(218, 218, 218);
  }
  #nav-link-col.toggleSideMenu {
    min-height: 100vh;
    background-color: white;
    visibility: visible;
    color: #0a2540 !important;
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  .section-6_text-top h2 {
    font-size: 20px;
    width: 100%;
  }
  #left-content_tm p,
  #left-content_tm a,
  #left-content_tm ul li,
  .section-6_text-top p {
    font-size: 10px;
  }
  .section-6_calc .calc_left h3 {
    font-size: 20px;
  }
  .section-6_calc .calc_left p {
    font-size: 12px;
    line-height: normal;
  }
  .value-thumb {
    width: 60px;
    height: 15px;
    font-size: 10px;
  }
  .range-initial_div label {
    font-size: 14px;
  }
  .slider-container {
    height: 30px;
  }
  .box_1 p {
    font-size: 9px;
    line-height: normal;
  }
  .box_1 p img {
    width: 10px;
  }
  .legacy-box .boxes {
    width: 70px;
    height: 70px;
  }
  .legacy-box .boxes p {
    font-size: 17px;
    margin-left: 2px;
  }
  .legacy-box p {
    font-size: 9px;
    line-height: normal;
  }
  #sec7-left span {
    font-size: 12px;
    line-height: 20px;
    width: 90%;
    margin: 0 auto;
  }
  #sec7-left a {
    width: fit-content;
    font-size: 11px;
  }
  .content-5_t h2 {
    width: 80% !important;
    font-size: 20px;
  }
  .content-5_t span {
    font-size: 13px;
  }
  #last-txt p {
    font-size: 13px;
  }
  #last-txt h4 {
    font-size: 1.4rem !important;
  }
  #sec9-sol p {
    font-size: 13px;
    width: 90%;
  }
  #sec9-sol h3,
  #sec9-sol a {
    font-size: 15px;
  }
  #sec9-sol img {
    width: 27px;
    margin-bottom: 10px;
  }
  #sec9-sol {
    height: auto;
  }
  #sec10-h3 {
    font-size: 20px;
  }
  .content-1-10 {
    flex-direction: column;
  }
  #last-txt {
    width: 100% !important;
  }
  .img-s img {
    width: 80%;
  }
  .footer-copy_right span {
    font-size: 8px;
  }
  .slider-foot .slider-content {
    padding: 0;
  }
  .pfp img {
    width: 130px;
  }
  #slider-left p {
    font-size: 10px;
    margin: 10px 0px;
  }
  .links-list li a {
    font-size: 10px;
    line-height: normal;
    width: 90%;
  }
  .footer-copy_right {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: auto;
    gap: 3px;
    padding: 20px 0px;
  }
  .complaince.sec10-comp {
    width: 100%;
    min-height: auto;
    row-gap: 10px;
    padding: 15px 15px;
  }
  #sec10-row {
    row-gap: 15px;
  }
  .slide-btn {
    top: -40px;
  }
  #sec7-row {
    min-height: auto;
  }
  .section-1_left ul {
    font-size: 10px;
    line-height: normal;
  }
  .section-1_left ul li svg {
    width: 10px;
    height: 10px;
  }
  .content h1 {
    font-size: 1.2rem;
  }
  .row-last {
    padding: 35px;
  }
  #section-7 {
    background-size: 800%;
  }
  #section4 .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-2_row h3 {
    font-size: 15px;
  }
  .slideLogo img {
    width: 100px;
  }
}
